h1{
    color:purple;
    font-size: 50px;
}
h3{
    color: purple;

}
body{
    background-color:plum;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.container{
    width:40%;
    margin-left:25%;
    background: #ffffff61;
    border:solid 2px rgb(185, 167, 185);
    padding:20px;
    border-radius: 10px;
}
.formInput{
    display: block;
    width:70%;
    margin:10px;
    padding: 12px 25px;
    border-radius: 10px;
    border:solid 2px plum;
    background: #ffffff87;
}

.button{
    background: gainsboro;
    color:purple;
    width: 100px;
    padding: 10px 20px;
    margin: 50px;
    margin-top: 1px;
    border-radius:10px;
    border:solid 2px plum;
}
ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(9, 26, 4);
    margin-right: 30px
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:rgb(216, 99, 240);
  }
  
  .active {
    background-color: purple;
  }

  .card {
    max-width: 300px;
    background-color: rgb(136, 128, 81);

    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color:purple;
    font-size: 16px;
  }
  
  .card button {
    border: none;
    padding: 12px;
    color:yellowgreen;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
  }
  
  

